@import 'tailwindcss';
   body {
     font-family: 'Source Code Pro', monospace; /* Default font for body text */
   }

   h1, h2, h3, h4, h5, h6 {
     font-family: 'Source Code Pro', monospace; /* Font for headings */
   }

   p {
     font-family: 'Source Code Pro', monospace; /* Font for paragraphs */
   }
   

/* Additional styles for other elements can be added here */
.special-text {
  font-family: 'Montserrat', sans-serif; /* Special font for specific text */
}

.footer-text {
  font-family: 'Roboto', sans-serif; /* Different font for footer text */
}
